*,
::after,
::before{
    box-sizing: border-box;
}

:root{
    --title-color: #696D77;
    --primary-color: #7264D6;
    --text-color: #696D76;
    --black-color: #212832;
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100px;
  margin-bottom: 30px;

  background: #ccc;

  font-size: 30px;
  font-weight: 600;
}

/* Common */
.container{
    padding: 0;
}

.btn{
    display: inline-block;
    min-width: 113px;
    min-height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 6px;
    background: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}

.btn:hover{
    opacity: 0.9;
}

a{
    text-decoration: none;
}

button{
    outline: none;
    border: none;
}

.heading-desc{
    color: var(--text-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
}

.desc{
    color: var(--text-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.title{
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.title::before{
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background-color: var(--title-color);
    margin-right: 12px;
}

.section-heading{
    color: var(--black-color);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
}

/* Header */
.header{
    padding: 42px 0 8px;
    position: sticky;
    top: -34px;
    background-color: #fff;
    z-index: 99;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left{
    display: flex;
    align-items: center;
    column-gap: 46px;
}

.navbar__list{
    display: flex;
    align-items: center;
}

.header__actions{
    display: flex;
    align-items: center;
}

.login-btn{
    padding: 12px 28px;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.navbar__link{
    padding: 8px 24px;
    color: var(--text-color);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    position: relative;
}

.navbar__link--active,
.navbar__link:hover{
    cursor: pointer;
    color: var(--black-color);
    text-shadow: 1px 0 0 var(--black-color);
}

.navbar__link--active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 22px * 2);
    height: 1px;
    background-color: var(--primary-color);
    border-radius: 0.5px;
}
/* Hero */
.hero{
    padding: 68px 0;
}

.hero__heading{
    margin: 12px 0 20px;
    color: var(--black-color);
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
}

.hero__heading strong{
    color: var(--primary-color);
}

.hero__desc{
    width: 95%;
}

.hero__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    padding: 8px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form-input{
    width: 80%;
    border: none;
    outline: none;
    padding: 8px 12px 8px 15px; 
    font-size: 1.8rem;
}

.hero__form-input::placeholder{
    color: var(--text-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.hero__form-submit{
    min-width: 149px;
    min-height: 58px;
    border-radius: 8px;
    background: var(--primary-color);
    cursor: pointer;
}

.hero__rule{
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media-left{
    position: relative;
}

.hero__img{
    width: 296px;
    height: 562px;
    object-fit: cover;
    display: block;
}

.hero__card-deposit{
    position: absolute;
    top: 113px;
    left: -100px;
    width: 174px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__card-title{
    margin-left: 8px;
    color: #31456A;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; 
}

.hero__card-price{
    margin-left: 19px;
    color: #4AB5E3;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.hero__card-fund{
    position: absolute;
    left: 246px;
    bottom: 61px;
    width: 124px;
    border-radius: 10px;
    background: #439F90;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding: 20px 0 20px 14px;
}

.hero__media{
    display: flex;
    column-gap: 44px;
}

.hero__media-right{
    margin-top: 127px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #DA6464;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-shrink: 0; */
}

.hero__fund-price{
    color: #FFF;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.hero__fund-title{
    margin-top: 5px;
    color: #FFF;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.hero__right-value{
    color: #FFF;
    text-align: center;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
}

.hero__right-title{
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}
/* Guide */
.guide{
    padding: 92px 0;
}

.guide__media{
    position: relative;
}

.guide__img{
    width: 100%;
}

.guide__card{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    bottom: 96px;
    right: -100px;
}

.guide__card-img{
    position: absolute;
    top: 76px;
    right: 55px;
}

.guide__card-title{
    color: var(--black-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.guide__card-desc{
    color: var(--text-color);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
}

.guide__heading{
    margin: 12px 0 70px;
}

.guide-item__heading{
    color: var(--black-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.45;
    margin-bottom: 16px;
}

.guide-item__heading ~ .guide-item__heading{
    margin-top: 30px;
}

/* Feature */
.feature{
    padding: 68px 0;
}

.feature__heading{
    margin: 12px 0 20px;
}

.feature__list{
    margin-top: 28px;
}

.feature-item__heading{
    color: var(--black-color);
    font-weight: 600;
}

.feature-item__heading::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-right: 12px;
}

.feature__btn{
    margin-top: 38px;
    width: 149px;
    height: 58px;
}

.feature__media{
    position: relative;
}

.feature__card-payment{
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: -48px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 13px;
}

.feature__card-title{
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.feature__payment-heading{
    color: var(--black-color);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.feature__card-info{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    text-align: right;
}

.feature__card-info time,
.feature__payment-desc{
    color: var(--text-color);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.feature__payment-price{
    color: var(--black-color);
    text-align: right;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
}

.feature__card-income{
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439F90;
    position: absolute;
    right: 0;
    bottom: -55px;
    padding: 15px;
}

.feature__income-heading{
    color: #FFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;
}

.feature__income-value{
    margin-top: 6px;
    color: #FFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feature__img{
    vertical-align: bottom;
}

.feature__card-img{
    position: absolute;
    width: 281px;
    height: 220px;
    object-fit: cover;
    bottom: 57px;
    right: 26px;
}

.feature__card-money{
    width: 90px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 288px;
    background-color: transparent;
}

.feature__bottom{
    margin-top: 160px;
}










